@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Lato:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

nav{
    height: 80px;
    display: flex;
}

img{
    width: 100%;
    height: 100%;
}

.row{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 32px;
}

.purple{
    color: #6415ff;
}



/*

NAVEGATION BAR

*/
.logo{
    max-width: 40px;
}
.nav__container{
    display: flex;
    justify-content: space-between;
}

.nav__links{
    display: flex;
    align-items: center;
    list-style-type: none;
}

.nav__link{
    font-size: 14px;
    font-weight: 600;
    color: #242424;
    text-decoration: none;
    padding: 0 0 4px;
}

.nav__link--sections{
    margin: 0 24px;
}

.nav__link--login{
    margin: 0 24px 0 48px;
}

.nav__link--primary{
    border: 2px solid #6415ff;
    border-radius: 24px;
    padding: 12px 32px;
    background-color: #6415ff;
    color: #F7FAFC;
}


/*

HEADER

*/

.header__container{
    display: flex;
    padding-top: 100px;
}

.header__description{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header__img--wrapper{
    width: 60%;
}

.header__heading{
    font-size: 48px;
}

.header__para{
    font-size: 18px;
    padding: 12px 0 26px 0;
}

.header__email{
    border: 2px solid #6415ff;
    border-radius: 24px;
    padding: 12px 64px 12px 32px;
}

.header__button{
    border: 2px solid #6415ff;
    border-radius: 24px;
    padding: 12px 32px;
    background-color: #6415ff;
    color: #F7FAFC;
    font-weight: 700;
    font-size: 16px;
    z-index: 5;
}



