@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Lato:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

nav{
    height: 80px;
    display: flex;
}

img{
    width: 100%;
    height: 100%;
}

.row{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 32px;
}

.purple{
    color: #6415ff;
}

.container{
    padding: 80px 0;
}

p{
    line-height: 1.5;
}



/*

NAVEGATION BAR

*/
.logo{
    max-width: 40px;
}
.nav__container{
    display: flex;
    justify-content: space-between;
}

.nav__links{
    display: flex;
    align-items: center;
    list-style-type: none;
}

.nav__link{
    font-size: 14px;
    font-weight: 600;
    color: #242424;
    text-decoration: none;
    padding: 0 0 4px;
}

.nav__link--sections{
    margin: 0 24px;
}

.nav__link--login{
    margin: 0 24px 0 48px;
}

.nav__link--primary{
    border: 2px solid #6415ff;
    border-radius: 24px;
    padding: 12px 32px;
    background-color: #6415ff;
    color: #F7FAFC;
}

.nav__link:hover{
    text-decoration: underline;
}

.nav__link--primary:hover{
    text-decoration: none;
}

/*

HEADER

*/

.header__container{
    display: flex;
    padding-top: 100px;
}

.header__description{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header__img--wrapper{
    width: 60%;
}

.header__heading{
    font-size: 48px;
}

.header__para{
    font-size: 18px;
    padding: 12px 0 26px 0;
}

.header__email{
    border: 2px solid #6415ff;
    border-radius: 24px;
    padding: 12px 64px 12px 32px;
}

.header__button{
    border: 2px solid #6415ff;
    border-radius: 24px;
    padding: 12px 32px;
    background-color: #6415ff;
    color: #F7FAFC;
    font-weight: 700;
    font-size: 16px;
    z-index: 5;
}

/*

Services

*/

.service__description{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.service__heading{
    font-size: 48px;
    padding: 12px 0 16px 0;
}

.service__features{
    font-size: 16px;
    font-weight: 700;
}

.service__para{
    max-width: 500px;
    color: #7C8BA1;
    font-size: 18px;
    margin-bottom: 28px;
}

.services{
    display: flex;
    flex-wrap: wrap;
}

.service{
    display: flex;
    width: calc(100%/3);
    padding-bottom: 64px;   
}

.img__container{
    border-width: 1px;
    text-align: center;
    border-radius: 4px;
    padding: 1.25rem;
    flex-shrink: 0;
}

.service__img{
    width: 24px;
    height: 24px;
}

.text__container{
    margin: 8px 0 0 16px;
}

.service__name{
    
}

.service__subpara{
    line-height: 2;
}




